:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --background-hero-footer-color: #2f303a;
  --background-page-color: #e5e5e5;
  --background-ourteam-color: #f5f4fa;
  --background-primary-color: #ffffff;
  --icon-primary-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-primary-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.btn-primary {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}

.header {
  background-color: var(--background-primary-color);
  border-bottom: 1px solid var(--background-page-color);
}

.wrapper-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__web {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0px 32px 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.site-nav .site-nav__link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav__link.current {
  color: var(--accent-color);
}

.site-nav .site-nav__link.current::after {
  opacity: 1;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  padding: 32px 0px 32px 0px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/heroimg.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  color: var(--background-primary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-content {
  display: flex;
}

.advantages-content .advantages-content__item + .advantages-content__item {
  margin-left: 30px;
}

.advantages-content__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-content__item--iconantenna::before {
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: block;
  background-position: center;
  background-size: 70px 70px;
  background-color: #f4f5fa;
  padding: 25px 100px;
  background-image: url("../img/antenna.svg");
  background-repeat: no-repeat;
}

.advantages-content__item--iconclock::before {
  content: "";
  margin: auto;
  width: 270px;
  height: 120px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: 70px 70px;
  background-color: #f4f5fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages-content__item--icondiagram::before {
  content: "";
  margin: auto;
  width: 270px;
  height: 120px;
  background-image: url("../img/diagram.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: 70px 70px;
  background-color: #f4f5fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages-content__item--iconastronaut::before {
  content: "";
  margin: auto;
  width: 270px;
  height: 120px;
  background-image: url("../img/astronaut.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: 70px 70px;
  background-color: #f4f5fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages-content__text {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-work {
  padding-bottom: 94px;
}

.section-work__title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item__inner {
  position: relative;
}

.work-list .work-list__item + .work-list__item {
  margin-left: 30px;
}

.work-item__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-primary-color);
}

.work-text__inner {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-ourteam-color);
}

.team-list {
  display: flex;
}

.team-list .team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__item {
  background-color: var(--background-primary-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.team-list__img {
  margin-bottom: 30px;
}

.team-list__name {
  width: 151px;
  margin: 0 60px 10px 60px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__desc {
  width: 147px;
  margin: auto;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  background-color: var(--background-primary-color);
  fill: var(--icon-primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--background-primary-color);
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: rgb(175, 177, 184);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero-footer-color);
}

.footer-wrap {
  display: flex;
}

.footer-inner {
  margin-right: 70px;
}

.footer-inner__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--background-primary-color);
}

.address {
  width: 231px;
}

.address-list {
  margin-right: 70px;
  width: 231px;
}

.address .address-list__item.address-list__item:nth-last-child(-n+2) {
  margin-top: 9px;
}

.address-list__adress {
  color: var(--background-primary-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address-list__link {
  color: var(--footer-mail-tel-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--timing-function);
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
}

.footer-soc {
  width: 206px;
  margin-top: 12px;
  margin-right: 93px;
}

.footer-soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-primary-color);
  margin-bottom: 20px;
}

.socials__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-primary-color);
  transition: background-color 250ms var(--timing-function);
}

.footer-subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 86px;
  margin-top: 12px;
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-primary-color);
}

.footer-subscribe__email {
  position: absolute;
  bottom: 0;
  width: 358px;
  height: 50px;
}

.footer-subscribe__input {
  padding-left: 16px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--background-primary-color);
  background-color: var(--background-hero-footer-color);
}

.footer-subscribe__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-subscribe::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../img/iconsend.svg");
  background-repeat: no-repeat;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--background-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px 0;
  margin-top: 8px;
  margin-right: 8px;
  transform: rotate(0);
  transition: transform 250ms var(--timing-function);
}

.modal-button:hover {
  cursor: pointer;
  transform: rotate(180deg);
  fill: #2196f3;
}

.modal-titel {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-field {
  display: flex;
  flex-direction: column;
}

.modal-field__label {
  position: relative;
}

.modal-field__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-field__inner {
  position: relative;
  margin: 0 0 10px 0;
}

.modal-field__label--margin {
  margin: 0 0 20px 0;
}

.modal-field__item {
  position: relative;
}

.modal-field__input {
  width: 100%;
  margin: 0;
  padding: 10px 0px 10px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  transition: border 250ms var(--timing-function);
}

.modal-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms var(--timing-function);
}

.modal-field__input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.modal-field__input:focus ~ .modal-field__icon {
  fill: #2196f3;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.textarea:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 30px;
}

.checkbox-label__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label__icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 6px;
  fill: transparent;
  border: 3px solid #212121;
  border-radius: 4px;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.checkbox-label__input:checked + .checkbox-label__icon {
  background-color: #2196f3;
  border: none;
  fill: var(--background-primary-color);
}

.checkbox-label__text {
  color: var(--primary-text-color);
}

.checkbox-label__desc {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-btn {
  padding: 10px 55px;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-primary__text {
  display: block;
  letter-spacing: 0.06em;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button .item + .item {
  margin-left: 8px;
}

.button {
  display: block;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: var(--background-ourteam-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.item .button-all {
  width: 73px;
  height: 38px;
}

.item .button-websaite {
  width: 128px;
  height: 38px;
}

.item .button-applications {
  width: 145px;
  height: 38px;
}

.item .button-design {
  width: 103px;
  height: 38px;
}

.item .button-marketing {
  width: 130px;
  height: 38px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-title-text {
  padding: 20px 24px;
}

.text-portfolio {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-action-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-link:hover .portfolio-action-text,
.portfolio-link:focus .portfolio-action-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */