:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --background-hero-footer-color: #2f303a;
  --background-page-color: #e5e5e5;
  --background-ourteam-color: #f5f4fa;
  --background-primary-color: #ffffff;
  --icon-primary-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
