.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/heroimg.jpg");

  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;

  color: var(--background-primary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
